*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

.width-80{
   width: 80%;
}

.content-header{
    height: 50px;
    background-color: #2C3E50;
}


.content-footer{
    height: 200px;
    border: 2px black solid;
}

ul{
    list-style: none;
}


.width-jumbo{
    max-width: 200px;
}

.star:before {
    content: "";
    width: 100px;
    height: 2px;
    background: #ffffff;
}
  
.star:after {
    content: "";
    width: 100px;
    height: 2px;
    background: #ffffff;
} 

 .star-b:before {
    content: "";
    width: 100px;
    height: 2px;
    background: black;
}
  
.star-b:after {
    content: "";
    width: 100px;
    height: 2px;
    background: black;
} 
 
footer i{
    border-radius: 50%;
    border: solid 2px white;
    padding: 10px 5px;
    margin: 2px;
}

footer i:first-child{
    padding: 9px 6px;
}

footer i:nth-child(2){
    padding: 10px 4px;
}

footer i:nth-child(4){
    padding: 10px 6px;
}

.bg-1ABC9C{
    background-color: #1ABC9C;
}

.bg-white{
    background-color: white;
}

.bg-3A546D{
    background-color: #3A546D;
}

.bg-2C3E50{
    background-color:#2C3E50;
}