*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

.content-header{
    height: 50px;
    background-color: #2C3E50;
}


.content-footer{
    height: 200px;
    border: 2px black solid;
}

ul{
    list-style: none;
}


.width-10{
    width: 10%;
}

.star:before {
    content: "";
    width: 100px;
    height: 2px;
    background: #ffffff;
  }
  
.star:after {
    content: "";
    width: 100px;
    height: 2px;
    background: #ffffff;
  } 

 .star-b:before {
    content: "";
    width: 100px;
    height: 2px;
    background: black;
  }
  
.star-b:after {
    content: "";
    width: 100px;
    height: 2px;
    background: black;
  } 
 

.bg-2C3E50{
    background-color: #2C3E50;
}

.bg-1ABC9C{
    background-color: #1ABC9C;
}

.bg-white{
    background-color: white;
}

.bg-BA4B63{
    background-color: #BA4B63;
}

.bg-1EA4B6{
    background-color: #1EA4B6;
}

.bg-140F0F{
    background-color: #140F0F;
}

.bg-1C83C1{
    background-color: #1C83C1;
}

.bg-1C83C1{
    background-color: #1C83C1;
}

.bg-CCB2A3{
    background-color: #CCB2A3;
}

.bg-3A546D{
    background-color: #3A546D;
}

.bg-2C3E50{
    background-color:#2C3E50;
}